<!doctype html>
<html lang="en" ng-app="dashboard">
<head>
	<meta charset="utf-8" />
	<!-- <link rel="icon" type="image/png" href="assets/img/favicon.ico"> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Office 365 Dashboard Example</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="/assets/js/update-info.js"></script>
		<script src="/assets/js/draw-graphs.js"></script>
		<script src="app.js" type="text/javascript"></script>


    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

		<link href="assets/css/custom.css" rel="stylesheet" />

</head>
<body ng-controller="DashboardController as dashboardCtrl">
	<div class="wrapper">
	  <div class="sidebar" data-color="dell-blue" >

	  	<div class="sidebar-wrapper">
	          <div class="logo">
	              <a href="officehome.html" class="simple-text">
									<img src="assets/img/Small_Dell_Logo.png"  alt="Small Dell logo" />
	                    Office 365
	              </a>
	          </div>

	          <ul class="nav">
	              <li>
	                  <a href="officehome.html#overview">
	                      <i class="pe-7s-graph"></i>
	                      <p>Overview</p>
	                  </a>
	              </li>
	              <li>
	                  <a href="officehome.html#trade-compliance">
	                      <i class="pe-7s-user"></i>
	                      <p>Trade Compliance</p>
	                  </a>
	              </li>
								<li>
									<a href="officehome.html#authorization">
										<i class="pe-7s-credit"></i>
										<p>Authorization</p>
									</a>
	              <li>
	                  <a href="officehome.html#omega-ar">
	                      <i class="pe-7s-note2"></i>
	                      <p>Omega AR</p>
	                  </a>
	              </li>
	              <li>
	                  <a href="officehome.html#history">
	                      <i class="pe-7s-news-paper"></i>
	                      <p>History</p>
	                  </a>
	              </li>
	              <li>
	                  <a href="#">
	                      <i class="pe-7s-bell"></i>
	                      <p>Notifications <span class="badge notification-number" style="background-color:red;">5</span> </p>
	                  </a>
	              </li>

								<li>
									<a href="technical.html">
										<i class="pe-7s-server"></i>
										<p>Technical Details</p>
									</a>
								</li>

								<li style="">
	                  <a href="/">
	                      <i class="pe-7s-angle-left-circle"></i>
	                      <p>Back</p>
	                  </a>
	              </li>
	          </ul>
	  	</div>
	  </div>

	  <div class="main-panel">
	      <nav class="navbar navbar-default navbar-fixed">
	          <div class="container-fluid">
	              <div class="navbar-header">
	                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2" style="position: fixed; right: 10px; z-index: 5;">
	                      <span class="sr-only">Toggle navigation</span>
	                      <span class="icon-bar"></span>
	                      <span class="icon-bar"></span>
	                      <span class="icon-bar"></span>
	                  </button>
	                  <a class="navbar-brand" href="#">Dashboard</a>
	              </div>
	              <div class="collapse navbar-collapse">
	                  <ul class="nav navbar-nav navbar-left">
	                  </ul>

	                  <ul class="nav navbar-nav navbar-right">
												<li class="dropdown">
															<a href="#" class="dropdown-toggle" data-toggle="dropdown">
																		<i class="pe-7s-bell"></i>
																		<b class="caret"></b>
																		<span class="notification notification-number">5</span>
															</a>
															<ul class="dropdown-menu" id="notification-list">
																<li><a href="#" class="notification-1">Notification 1</a></li>
																<li><a href="#" class="notification-2">Notification 2</a></li>
																<li><a href="#" class="notification-3">Notification 3</a></li>
																<li><a href="#" class="notification-4">Notification 4</a></li>
																<li><a href="#">More Notifications...</a></li>
															</ul>
												</li>
												<li>
													<a href="officehome.html">
														<i class="pe-7s-refresh-2"></i> Refresh
													</a>
												</li>
	                  </ul>
	              </div>
	          </div>
	      </nav>


	      <div class="content">
	          <div class="container-fluid">
							<div ng-controller = "OverviewController as overviewCtrl" id="overview-section">
									<h2 id="overview" style="margin-top: 0px;">Overview <a href="/"><span class="btn btn-success float-right" ng-click="overviewCtrl.update(); dashboardCtrl.updateTimes('overview-section')">Refresh</span></a></h2>
									<div class="row">
										<div class="col-xs-12 col-md-7">
	                      <div class="card">
	                          <div class="header">
	                              <h4 class="title">Order Information</h4>
	                          </div>
	                          <div class="content">
																<ul class="list-group">
																	<li class="list-group-item">
																		<h5 class="list-group-item-heading">Orders Received <span class="custom-stats" id="ov-order-received">Loading...</span></h5>
																	</li>
																	<li class="list-group-item">
																		<h5 class="list-group-item-heading">Orders Activated <span class="custom-stats" id="ov-order-activated">Loading...</span></h5>
																	</li>
																	<li class="list-group-item">
																		<h5 class="list-group-item-heading">Orders Pending <span class="custom-stats" id="ov-order-pending">Loading...</span></h5>
																	</li>
																	<li class="list-group-item">
																		<h5 class="list-group-item-heading">Orders with Error/Partially Processed <span class="custom-stats" id="ov-order-error">Loading...</span></h5>
																	</li>
																</ul>
	                              <div class="footer">
	                                  <hr>
	                                  <div class="stats">
	                                      <i class="fa fa-history"></i>Updated as of <span class="refresh-time"></span>
	                                  </div>
	                              </div>
	                          </div>
	                      </div>
	                  </div>

										<div class="col-xs-12 col-md-5">
	                      <div class="card">
	                          <div class="header">
	                              <h4 class="title">Subscription Information</h4>
	                          </div>
	                          <div class="content">
																<ul class="list-group">
																	<li class="list-group-item">
																		<h5 class="list-group-item-heading">Subscriptions Cancelled <span class="custom-stats" id="ov-sub-cancelled">Loading...</span></h5>
																	</li>
																	<li class="list-group-item">
																		<h5 class="list-group-item-heading">Subscriptions Opted Out <span class="custom-stats" id="ov-sub-optout">Loading...</span></h5>
																	</li>
																	<li class="list-group-item">
																		<h5 class="list-group-item-heading">Subscriptions Opted In <span class="custom-stats" id="ov-sub-optin">Loading...</span></h5>
																	</li>
																</ul>
																<div class="footer">
	                                  <hr>
	                                  <div class="stats">
	                                      <i class="fa fa-history"></i>Updated as of <span class="refresh-time"></span>
	                                  </div>
	                              </div>
	                          </div>
	                      </div>
	                  </div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-md-6">
											<div class="card">
												<div class="header">
													<h4 class="title">Invoice</h4>
												</div>
												<div class="content">
													<ul class="list-group">
														<li class="list-group-item">
															<h5 class="list-group-item-heading">Billing Requests sent <span class="custom-stats" id="ov-invoice-br-sent">Loading...</span></h5>
														</li>
														<li class="list-group-item">
															<h5 class="list-group-item-heading">Billing Responses (BR) received <span class="custom-stats" id="ov-invoice-br-received">Loading...</span></h5>
														</li>
														<li class="list-group-item">
															<h5 class="list-group-item-heading">Credit/Debit Memos sent <span class="custom-stats" id="ov-invoice-cm-dm-sent">Loading...</span></h5>
														</li>
														<li class="list-group-item">
															<h5 class="list-group-item-heading">Billing Responses (CM/DM) received <span class="custom-stats" id="ov-invoice-cm-dm-received">Loading...</span></h5>
														</li>
													</ul>
													<div class="footer">
														<hr>
														<div class="stats">
																<i class="fa fa-history"></i>Updated as of <span class="refresh-time"></span>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-xs-12 col-md-6">
											<div class="card">
												<div class="header">
													<h4 class="title">Renewals</h4>
												</div>
												<div class="content">
													<ul class="list-group">
														<li class="list-group-item">
															<h5 class="list-group-item-heading">Renewal Requests sent <span class="custom-stats" id="ov-renew-sent">Loading...</span></h5>
														</li>
														<li class="list-group-item">
															<h5 class="list-group-item-heading">Renewal responses received <span class="custom-stats" id="ov-renew-received">Loading...</span></h5>
														</li>
													</ul>
													<div class="footer">
														<hr>
														<div class="stats">
															<i class="fa fa-history"></i>Updated as of <span class="refresh-time"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-md-4">
	                      <div class="card">
	                          <div class="header">
	                              <h4 class="title">Revenue</h4>
	                          </div>
	                          <div class="content">
																<ul class="list-group">
																	<li class="list-group-item">
																		<h5 class="list-group-item-heading">Total Billed<span class="custom-stats" id="ov-rev-total">Loading...</span></h5>
																	</li>
																	<li class="list-group-item">
																		<h5 class="list-group-item-heading">Total Collected <span class="custom-stats" id="ov-rev-collected">Loading...</span></h5>
																	</li>
																	<li class="list-group-item">
																		<h5 class="list-group-item-heading">Payments Failed <span class="custom-stats" id="ov-rev-failed">Loading...</span></h5>
																	</li>
																	<li class="list-group-item">
																		<h5 class="list-group-item-heading">Payments with Error <span class="custom-stats" id="ov-rev-error">Loading...</span></h5>
																	</li>
																	<li class="list-group-item">
																		<h5 class="list-group-item-heading">Payments with COM Failure <span class="custom-stats" id="ov-rev-com">Loading...</span></h5>
																	</li>
																</ul>
	                              <div class="footer">
	                                  <hr>
	                                  <div class="stats">
	                                      <i class="fa fa-history"></i>Updated as of <span class="refresh-time"></span>
	                                  </div>
	                              </div>
	                          </div>
	                      </div>
	                  </div>
										<div class="col-xs-12 col-md-8">
											<div class="card">
												<div class="header">
													<h4 class="title">Trade Compliance</h4>
												</div>
												<div class="content">
													<div class="custom-tooltip" id="ov-tc-info">
														<h4 class="custom-tooltip-heading" id="ov-tc-info-status">Info</h4>
														<ul class="info">
															<li> -- </li>
															<li> -- </li>
														</ul>
													</div>
													<div class="ct-chart" id="ov-tc-status"></div>
													<div class="legend">
														<i class="fa fa-circle text-dell-blue"></i> Success
														<i class="fa fa-circle text-dell-green"></i> Rejected
														<i class="fa fa-circle text-dell-magenta"></i> Waiting
													</div>
													<div class="footer">
														<hr>
														<div class="stats">
															<i class="fa fa-history"></i>Updated as of <span class="refresh-time"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
							</div>

							<div class="row"  ng-controller="TradeComplianceController as tcCtrl" id="tc-section">
								<h2 id="trade-compliance">Trade Compliance <a href="/"><span class="btn btn-success float-right" ng-click="tcCtrl.update(); dashboardCtrl.updateTimes('tc-section')">Refresh</span></a></h2>

								<div class="col-xs-12 col-md-6">
									<div class="card">
										<div class="header">
											<h4 class="title">Trade Compliance</h4>
											<p class="category">Stats having to do with Trade Compliance</p>
										</div>
										<div class="content">
											<ul class="list-group">
												<li class="list-group-item">
													<h5 class="list-group-item-heading">Bill Plans sent to Trade Compliance <span class="custom-stats" id="tc-total-sent">0</span></h5>
												</li>
												<li class="list-group-item">
													<h5 class="list-group-item-heading">Trade Compliance Status</h5>
													<div class="custom-tooltip" id="tc-bill-info">
														<h4 class="custom-tooltip-heading" id="tc-bill-info-status">Info</h4>
														<ul class="info">
															<li> -- </li>
															<li> -- </li>
														</ul>
													</div>
													<div id="tc-bill-status" class="ct-chart"></div>
													<div class="legend">
															<i class="fa fa-circle text-dell-blue"></i> Success
															<i class="fa fa-circle text-dell-green"></i> Rejected
															<i class="fa fa-circle text-dell-magenta"></i> Waiting
													</div>
												</li>
											</ul>
											<div class="footer">
												<div class="stats">
													<i class="fa fa-history"></i>Updated as of <span class="refresh-time"></span>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="col-xs-12 col-md-6">
									<div class="card">
										<div class="header">
											<h4 class="title">Trade Compliance Notifications</h5>
											<p class="category">Statistics on notifications sent due to Trade Compliance issues.</p>
										</div>
										<div class="content">
											<ul class="list-group">
												<li class="list-group-item">
													<h5 class="list-group-item-heading">Notifications sent from Rejected status <span class="custom-stats" id="tc-notification-num">0</span></h5>
												</li>
												<li class="list-group-item">
													<h5 class="list-group-item-heading">Rejected Accounts Reported vs. Rejected Notifications Sent</h5>
													<div class="custom-tooltip" id="tc-notification-info">
														<h4 class="custom-tooltip-heading" id="tc-notification-name">Info</h4>
														<ul class="info">
															<li>{{tcCtrl.rejectedNotifNum}}</li>
															<li>{{tcCtrl.rejectedNotifPercent}}</li>
														</ul>
													</div>
													<div id="tc-notification-chart" class="ct-chart"></div>
												</li>
											</ul>
										</div>
										<div class="footer">
											<div class="stats">
												<i class="fa fa-history"></i>Updated as of <span class="refresh-time"></span>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row" ng-controller="AuthController as authCtrl" id="auth-section">
								<h2 id="authorization">Authorization <a href="/"><span class="btn btn-success float-right" ng-click="tcCtrl.update(); dashboardCtrl.updateTimes('auth-section')">Refresh</span></a></h2>
								<div class="col-xs-12 col-md-6">
									<div class="card">
										<div class="header">
											<h4 class="title">Authorization</h4>
											<p class="category">Stats having to do with Authorization</p>
										</div>
										<div class="content">
											<ul class="list-group">
												<li class="list-group-item">
													<h5 class="list-group-item-heading">Accounts Attempted <span class="custom-stats" id="auth-attempts">0</span></h5>
												</li>
												<li class="list-group-item">
													<h5 class="list-group-item-heading">Auth Responses</h5>
													<div class="custom-tooltip" id="auth-response-info">
														<h4 class="custom-tooltip-heading" id="auth-response-status">Info</h4>
														<ul class="info">
															<li> - </li>
															<li> - </li>
														</ul>
													</div>
													<div id="auth-response" class="ct-chart"></div>
													<div class="legend">
															<i class="fa fa-circle text-dell-blue"></i> Approved
															<i class="fa fa-circle text-dell-green"></i> Hard Declined
															<i class="fa fa-circle text-dell-magenta"></i> Soft Declined
															<i class="fa fa-circle text-dell-turquoise" style="color: #9365E9;"></i> Technical Error
													</div>
												</li>
											</ul>
											<div class="footer">
												<div class="stats">
													<i class="fa fa-history"></i>Updated as of <span class="refresh-time"></span>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="col-xs-12 col-md-6">
									<div class="card">
										<div class="header">
											<h4 class="title">Authorization Notifications</h4>
											<p class="category">Stats having to do with notifications sent as a result of authorization processes.</p>
										</div>
										<div class="content">
											<ul class="list-group">
												<li class="list-group-item">
													<h5 class="list-group-item-heading">Soft Decline Notifications Sent <span class="custom-stats" id="auth-soft-notif-num">0</span></h5>
												</li>
												<li class="list-group-item">
													<h5 class="list-group-item-heading">Hard Decline Notifications Sent <span class="custom-stats" id="auth-hard-notif-num">0</span></h5>
												</li>
												<li class="list-group-item">
													<h5 class="list-group-item-heading">Soft Declines Reported vs. Soft Decline Notifications Sent</h5>
													<div class="custom-tooltip" id="auth-soft-notif-info">
														<h4 class="custom-tooltip-heading" id="auth-soft-notif-name">Info</h4>
														<ul class="info">
															<li>{{authCtrl.softNotifNum}}</li>
															<li>{{authCtrl.softNotifPercent}}</li>
														</ul>
													</div>
													<div class="ct-chart" id="auth-soft-notif-chart"></div>
												</li>
												<li class="list-group-item">
													<h5 class="list-group-item-heading">Hard Declines Reported vs. Hard Decline Notifications Sent</h5>
													<div class="custom-tooltip" id="auth-hard-notif-info">
														<h4 class="custom-tooltip-heading" id="auth-hard-notif-name">Info</h4>
														<ul class="info">
															<li>{{authCtrl.hardNotifNum}}</li>
															<li>{{authCtrl.hardNotifPercent}}</li>
														</ul>
													</div>
													<div class="ct-chart" id="auth-hard-notif-chart"></div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="row" ng-controller="OmegaArController as omegaArCtrl" id="omega-section">
									<h2 id = "omega-ar">Omega AR <a href="/"><span class="btn btn-success float-right" ng-click="omegaArCtrl.update(); dashboardCtrl.updateTimes('omega-section')">Refresh</span></a></h2>
	                <div class="col-xs-12">
	                    <div class="card">
													<div class="header">
														<h4 class="title">Omega AR</h4>
														<p class="category">Stats having to do with Omega AR</p>
													</div>
													<div class="content">
														<ul class="list-group">
															<li class="list-group-item">
																<h5 class="list-group-item-heading">Bills sent for invoicing <span id="oar-bills-sent" class="custom-stats">0</span></h5>
															</li>
															<li class="list-group-item">
																<h5 class="list-group-item-heading">Responses returned from Omega AR w/ invoice number <span id="oar-bills-returned" class="custom-stats">0</span></h5>
															</li>
															<li class="list-group-item">
																<h5 class="list-group-item-heading">Accounts with capture failure <span id="oar-failure" class="custom-stats">0</span></h5>
															</li>
														</ul>
														<div class="footer">
															<div class="stats">
																<i class="fa fa-history"></i> Updated as of <span class="refresh-time"></span>
															</div>
														</div>
													</div>
	                    </div>
	                </div>
	            </div>

	            <div class="row" ng-controller="HistoryController as histCtrl" id="hist-section">
								<h2 id="history">History</h2>
								<form  style="padding-bottom: 10px;" ng-submit="histCtrl.update(); dashboardCtrl.updateTimes('hist-section');">
									From <input type="date" name="startDate" min="2000-01-01" id="startDate" value="2015-01-01"> to <input type="date" name="endDate" id="endDate" value="2015-01-01">
									<input class="btn-success btn" type="submit" value="Refresh">
								</form>
	                <div class="col-md-6 col-xs-12">
	                    <div class="card ">
	                        <div class="header">
	                            <h4 class="title">Total Revenue</h4>
	                            <p class="category">Revenue billed on given range</p>
	                        </div>
	                        <div class="content">
	                            <div id="history-monthly-revenue" class="ct-chart"></div>
	                            <div class="footer">
	                                <hr>
																	<div class="stats">
																		<i class="fa fa-history"></i> Updated as of <span class="refresh-time"></span>
																	</div>
	                            </div>
	                        </div>
	                    </div>
	                </div>

									<div class="col-md-6 col-xs-12">
										<div class="card">
											<div class="header">
												<h4 class="title">Active Subscriptions</h4>
												<p class="category">Total Amount of Active Subscriptions</p>
											</div>
											<div class="content">
												<div id="active-subs" class="ct-chart"></div>
												<div class="footer">
													<div class="stats">
														<i class="fa fa-history"></i> Updated as of <span class="refresh-time"></span>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-md-8 col-xs-12">
										<div class="card">
											<div class="header">
												<h4 class="title">Total billed vs. Actual Revenue</h4>
												<p class="category">Expected revenue compared to actual revenue</p>
											</div>
											<div class="content">
												<div id="expected-actual-revenue" class="ct-chart"></div>
												<div class="footer">
													<div class="stats">
														<i class="fa fa-history"></i> Updated as of <span class="refresh-time"></span>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-md-4 col-xs-12">
										<div class="card">
											<div class="header">
												<h4 class="title">Notifications Sent</h4>
												<p class="category">Notifications sent defined by type</p>
											</div>
											<div class="content">
												<div id="notification-type" class="ct-chart"></div>
												<div class="footer">
													<div class="stats">
														<i class="fa fa-history"></i> Updated as of <span class="refresh-time"></span>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-md-6 col-xs-12">
										<div class="card">
											<div class="header">
												<h4 class="title">Authorization History</h4>
												<p class="category">Comparison of autorization status and if notification sent</p>
											</div>
											<div class="content">
												<div id="history-auth" class="ct-chart"></div>
												<div class="footer">
													<div class="stats">
														<i class="fa fa-history"></i> Updated as of <span class="refresh-time"></span>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-md-6 col-xs-12">
										<div class="card">
											<div class="header">
												<h4 class="title">Opt-out</h4>
												<p class="category">Number of "opt-outs" in given date range</p>
											</div>
											<div class="content">
												<div id="opt-out" class="ct-chart"></div>
												<div class="footer">
													<div class="stats">
														<i class="fa fa-history"></i> Updated as of <span class="refresh-time"></span>
													</div>
												</div>
											</div>
										</div>
									</div>
	            </div>
	          </div>
	      </div>
	  </div>
	</div>
</body>

    <!--   Core JS Files   -->
    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="assets/js/bootstrap-checkbox-radio-switch.js"></script>

	<!--  Charts Plugin -->
	<script src="assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="assets/js/bootstrap-notify.js"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="assets/js/light-bootstrap-dashboard.js"></script>

	<!-- React.js -->
	<script src="https://fb.me/react-15.1.0.js"></script>
	<script src="https://fb.me/react-dom-15.1.0.js"></script>

	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script type="text/javascript" src="assets/js/d3-tip.js"></script>

	<script src="assets/js/monthly_revenue_3.js"></script>
	<script src="assets/js/custom.js"></script>

	<script type="text/javascript">


    	$(document).ready(function(){
        	// demo.initChartist();
					// monthlyRevenueChart.calcPosition();
					// monthlyRevenueChart.draw();
					var stats = document.querySelectorAll('.custom-stats');
					for (var i = 0; i < stats.length; i ++) {
						if (stats[i].innerHTML === "Loading..." || stats[i].innerHTML === "0") {
							stats[i].innerHTML = parseInt(Math.random() * 10000 + 1);
						}
					}
    	});


	</script>

</html>
